<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="es5-shim" version="2.0.5" targetFramework="net40" />
  <package id="json2" version="1.0.2" targetFramework="net40" />
  <package id="RxJS-Binding" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Experimental" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Main" version="2.0.20921" targetFramework="net40" />
  <package id="RxJS-Time" version="2.0.20921" targetFramework="net40" />
  <package id="scalejs" version="0.2.7.30" targetFramework="net40" />
  <package id="scalejs.functional" version="0.2.9" targetFramework="net40" />
  <package id="scalejs.linq-linqjs" version="3.0.3.1" targetFramework="net40" />
  <package id="scalejs.reactive" version="2.0.20921.2" targetFramework="net40" />
  <package id="scalejs.statechart-scion" version="0.2.1.32" targetFramework="net40" />
</packages>